.flex {
    display: flex;
    flex-direction: column;
    height: 100vw;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
}
.js {
    background-color: rgb(255, 240, 221);
    margin-bottom: 10px;
    padding: 0 0 0 10px;
}
h4 {
    text-align: center;
}
input {
    border: 1px solid beige;
    border-radius: 5px;
    height: 25px;
    background-color: rgb(255, 255, 255);
}
input:hover {
    background-color: rgba(243, 243, 243, 0.774);
}
textarea {
    border: 1px solid beige;
    border-radius: 5px;
}
.but {
    background-color: white;
    color: black;
    border: 2px solid #9d9fff;
}
.but:hover {
    background-color: #9d9fff;
}
.focused { 
    outline: 1px solid red; 
}
.invalid { 
    border-color: red; 
}
#error { 
    color: red 
}
.select {
    background-color: white;
    width: 100px;
    height: 25px;
    color: black;
    border-radius: 5px;
    border: 2px solid #9d9fff;
}
.listAnimals {
    position: absolute;
    left: 65%;
    top: 1550px;
    width: 25%;
    display: none;
}
.block6{
    word-wrap: break-word;
}
