#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 10vw 1fr;
    grid-template-areas: 
        "nav nav nav"
        "section section section"
        "aside aside aside"
        "main main main";
    height: 100vw;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
}
#mainNav{
    grid-area: nav;
    
}
#pageSection{
    grid-area: section;
}
#aside{
    grid-area: aside;
    width: 100%;
}
.flex{ 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
}
.flex > .item{
    width: 100px;
    height: 10vw;
    margin: 0 20px;
    overflow: hidden;
    background-color: rgb(39, 157, 235);
}
/*
#aside2{
    grid-area: aside2;
    width: 100%;
    text-align: center;
}
#aside3{
    grid-area: aside3;
    width: 100%;
    text-align: center;
}
*/
#pageMain{
    grid-area: main;
}
#grid > section,main{
    background-color: rgba(203, 221, 255, 0.3);
    text-align: center;
}
html, body{
    margin:0;
    padding:0;
}
.menu{
    display: grid;
    grid-template-areas: "HTML Словарь терминов";
    grid-template-columns: 80px 157px;
    grid-template-rows: 5%;
    position: fixed;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background:rgb(210, 225, 253);
    height: 55px;
    z-index: 1;
    width: 100%;
    overflow: auto;
    top: 0;
    right: 0;
    left: 0;
}
a{
    text-decoration: none;
    background:rgb(210, 225, 253);
    color:rgb(0, 0, 0);
    padding:0px 15px;
    line-height:50px;
    display: block; 
    border-right: 1.5px solid rgb(103, 156, 255);
    transition: all 0.3s 0.01s ease;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
    background:rgb(31, 89, 196, 0.5);
}
.menu li {
    float:left;
}
.html{
    text-align: center;
}
h3{
    text-align: center;
}
table{
    margin: auto;
}
.table1{ 
    position: relative;
    width: 500px;
    border: 4px solid rgb(31, 89, 196);
    border-top: 7px solid rgb(31, 89, 196);
	border-collapse: collapse;
}
.table1 thead th{ 
    background: rgb(221, 233, 255);
}
.table1 th{
	padding: 5px;
	background: #eff3fd;
	border-bottom: 2px solid rgb(31, 89, 196);
}
.table1 tr {
	padding: 5px;
	border-bottom: 2px solid rgb(31, 89, 196);
}
.table1 th:hover{
	background: rgb(221, 233, 255);
}
.txt1{
    color:rgb(6, 74, 199);
}
.table2{
    position: relative;
    width: 500px;
    border: 3px dotted rgb(56, 56, 56);
}
.table2 thead tr{
    background-color: rgb(221, 233, 255);
}
#img1{
    margin: auto;
    height:100px;
    border: 2px solid transparent;
    border-image: linear-gradient(rgb(122, 131, 255),rgb(62, 194, 255));
    -moz-border-image: -moz-linear-gradient(rgb(122, 131, 255),rgb(62, 194, 255));
    -webkit-border-image: -webkit-linear-gradient(rgb(122, 131, 255),rgb(62, 194, 255));
    border-image-slice: 1;
}
#img1:hover{
    border: 2px solid transparent;
    border-image: linear-gradient(rgb(167, 220, 255),rgb(27, 69, 255));
    -moz-border-image: -moz-linear-gradient(rgb(167, 220, 255),rgb(27, 69, 255));
    -webkit-border-image: -webkit-linear-gradient(rgb(167, 220, 255),rgb(27, 69, 255));
    border-image-slice: 1;
    transition: all 0.01s;
}
input, select {
	width: 200px;
	font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
	padding: 5px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}
input:hover{
    background: #dbdbdb;
}
select:hover{
    background: #dbdbdb;
}
textarea {
	overflow: auto;
	resize: none;
    font-family: 'Times New Roman', Times, serif;
	width: 200px;
	height: 50px;
    font-size: 15px;
	background: #f6f6f6;
	border: 0px solid #cecece;
	border-radius: 8px 8px 8px 8px;
	padding: 8px 0 8px 10px;
}
textarea:hover{
    background: #dbdbdb;
}
fieldset{
    border: none;
    width: 100%;
    margin: auto;
}
.radio{
    width: 15px;
}
.reset{
	width: 150px;
	height: 28px;
	border: 1px solid #ccc;
	background: #fff;
	color: rgb(0, 0, 0);
	border-radius: 5px;
	box-shadow: inset 0 2px 2px #ccc;
	cursor: pointer;
    text-align: center;
}
.reset:hover {
	box-shadow: inset 0px -20px 20px #ffffff;
}
.reset:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}
.submit{
    width: 150px;
	height: 28px;
	border: 1px solid #ccc;
	background: #fff;
	color: rgb(0, 0, 0);
	border-radius: 5px;
	box-shadow: inset 0 2px 2px #ccc;
	cursor: pointer;
    text-align: center;
}
.submit:hover {
	box-shadow: inset 0px -20px 20px #ffffff;
}
.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}
.button{
    width: 350px;
    margin: auto;
}
.list{
    padding:0;
    list-style: none;
}
.list li{
    padding:1px;
}
.list li:before {
    padding-right:10px;
    font-weight: bold;
    color: #000000;
    content: "\2666";
    transition-duration: 0.5s;
}
.list li:hover:before {
    color: #5d5bff;
    content: "\2666";
}  
ul li:hover{
    text-decoration: underline;
}
ul li{
    margin: auto;
}

@media screen and (max-width: 1280px) {
    
}

@media screen and (min-width: 1280px) {
    #grid{
        grid-template-columns: 100px 2fr 1fr;
        grid-template-rows: 300px 1fr 1fr 1fr;
        grid-template-areas: 
            "section section nav"
            "aside main nav"
            "aside main nav"
            "aside main nav";
        grid-column-gap: 15px;
        grid-row-gap: 40px;
    }
    #pageSection{
        grid-area: section;
        overflow-y: scroll;
    }
    .flex{ 
        display: flex; 
        flex-direction: column;
        align-items: stretch;
    }
    .flex > .item{
        margin: 0 0 40px 0;
        height: 1fr;
    }
    .menu{
        display: grid;
        grid-template-areas: 
        "HTML" 
        "Словарь терминов";
        grid-template-columns: 157px;
        grid-template-rows: 5% 5%;
        list-style: none;
        margin: 0;
        height: 100%;
        z-index: 1;
        width: 100%;
        position: relative;
        padding: 0;
    }
    .menu a{
        display: block; 
        border-right: 0px;
        border-bottom: 1.5px solid rgb(103, 156, 255);
    }
    
}